header,
nav,
footer {
    display: block;
}
/***********************************************/

body {
  background-color: #f2f2f2;/*#A4A4A4;/*#FE9A2E;*/
	font-family: Georgia, Times, "Times New Roman", serif;
  position: relative;
 margin: 0px;
 /*font-size: 12px;*/
 padding: 0px;
}


#wrapper {
    max-width: 100%;
    /*margin: 0px auto;
    background-color: #FFFFFF;
    margin-top: 2px;
    padding: 20px;
	/*border-radius: 4px;*/
	/*box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6 !important;
*/
}

#login-wrapper {
	max-width: 310px;
    margin: 0px auto;
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
	border-radius: 4px;
	box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6 !important;
}

.header {
  z-index: 20;
    max-width: 100%;
    height:50px;
    padding-left: 30px;
    padding-bottom:0px;
    position:relative;

    background-color: #2c3742;
    margin-bottom: 2px;
  	/*border-radius: 4px;*/
    /*border-bottom: 1px solid gray;*/
    font-size:30px;
    /*margin:0px;*/
    /*padding:10px 0px;*/
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
    /*font-size: 18px;
    font-style: italic;
  	text-align: center;*/

    color: #fff;
}

.header .logo{
  padding:5px 0px;
}

.navbox {
    width: 15%;
    height: 520px;
    float: left;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
	   border-radius: 4px;
     font-family: Georgia, Times, "Times New Roman", serif;
     font-size: 11px;
     font-style: italic;
     text-align:center;
     /*position:relative;*/
}

.navigation{
  font-family: 'Open Sans Condensed', sans-serif;
  transform: translateY(0);
}

footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #F2F2F2;
	border-radius: 4px;
}

.dropNav {
  display:none;
}

.dropbox{
  width: 100px;
  height:100px;
  background: #fff;
  z-index: 30;
  position: relative;
}


.redips-drag {
  margin: 1px;
  border: 2px solid SteelBlue;
	text-align: center;
	background-color: #00BFFF;
}

.navBtn {
	width:80%;
	height: 38px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border: 0px;
	border-bottom: 1px dashed #eee;
	margin-left:10%;
	margin-right:10%;
}

.linkBtn {
	width: 100%;
	height: 38px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-left:0%;
	margin-right:10%;
}

.navBtn:hover {
	background-color: rgba(131,139,139,0.5);
	outline: 0;
}

.linkBtn:hover {
	background-color: rgba(131,139,139,0.5);
	outline: 0;
}

input[type="submit"] {
	color: #555FF;
	cursor: pointer;
	height: 38px;
	width:100%;
	background-color: transparent;
	border: 1px solid #bbb;
	border-radius: 4px;
	text-align: center;
}

input[type="submit"]:hover {
	/*TODO: Add hover effect*/
	background-color: rgba(131,139,139,0.5);
	outline: 0;
}

input[type="button"] {
	width:80%;
	/*height: 38px;*/
	background-color: transparent;
	/*text-align: center;*/
	cursor: pointer;
	border: 0px;
	/*margin-left:10%;
	margin-right:10%;*/
}

input[type="submit"]:disabled {
  text-decoration: line-through;
}

textarea {
	width:100%;
	min-height: 100px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 6px;
  margin-top: 6px;
}

select,
input[type="text"] {
	width:100%;
	height: 38px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 6px;
    margin-top: 6px;
}

select:focus,
input[type="text"]:focus {
	border: 1px solid #33C3F0;
	outline: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 6px;
    margin-top: 6px;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

table {
	width: 100%;
}

th,
td {
  min-width: 10px;
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}

.radiofield {
  width: 10px;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

hr {
	border: 1px solid #D1D1D1;
}

h1 {
    font-size: 100%;
}

h2 {
	line-height:100%;
    font-size: 150%;
}

h3 {
	line-height: 0px;
    font-size: 200%;
}

.errcontainer {

  border:solid 1px #FBD3C6;
  background:#FDE4E1;
  color: #B10009;

  /*background: #F04D5B;
  color: black;*/

  /*width: 500px;
  height: auto;*/
  margin-bottom:20px;
  padding: 2px 4px;
  font: bold 13px Arial,sans-serif;
  padding: 7px 0px 5px 5px;
  -moz-border-radius: 6px 6px 6px 6px;


  /*padding: 3px 10px 3px 10px;
  font-size: 11px;
  margin-bottom: 3px;
  /*boder-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;*/
}

.infobox {
  border:solid 1px #FDDD5B;
  background:#FEEFB3;
  color: #9F6000;
  margin-bottom:20px;
  padding: 2px 4px;
  font: bold 13px Arial,sans-serif;
  padding: 7px 0px 5px 5px;
  -moz-border-radius: 6px 6px 6px 6px;
}

.cell1 {
	padding-bottom:10px;
	margin-top:10px;
}

.container {
  display: block;
    width: 80%;
    min-height: 520px;
    background-color: #fff;/*#F2F2F2;*/
    float: right;
    margin-top:20px;
    margin-right:20px;
    margin-bottom: 20px;
	border-radius: 4px;
  box-shadow: 1px 0 0 0 #d2d2d2;
}
	.one {
		display: inline-block;
		margin-left:1%;
		margin-top:1%;
		width: 96%;
		/*background-color: red;*/
	}

	.one-half {
		display: inline-block;
		margin-left:1%;
		margin-top:1%;
		width: 48%;
		/*background-color: red;*/
	}

	.one-third {
		display: inline-block;
		margin-left:1%;
		margin-top:1%;
		margin-bottom:1%;
		width: 31%;
		/*background-color: green;*/
	}
	.two-thirds {
		display: inline-block;
		margin-left:1%;
		margin-top:1%;
		width: 64%;
		/*background-color: blue;*/
	}

.login_container {
  width: 100%;
  min-height: 300px;
  border-radius: 4px;
  background-color: #fff;/*#F2F2F2;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ul {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
	list-style: none;
}

li.head {
  padding-top:20px;
  padding-bottom:20px;
  font-size:20px;
}

li.foot {
  padding-top:20px;
  padding-bottom:20px;
  font-size:15px;
}

@media screen and (max-width: 800px) {

    .dropNav {
      display:block;
      width:80%;
    	height: 38px;
    	background-color: transparent;
    	text-align: center;
    	cursor: pointer;
    	border: 1px solid #bbb;
    	border-radius: 4px;
    	margin-left:0%;
    	margin-right:10%;
    }


    .navigation{
      /*z-index: 10;
      position: relative;
      transform: translateY(-100%);
      transition: transform 0.6s ease;
      width: 15%;
      height: 520px;
      float: left;*/
      background-color: #fff;
      /*margin-bottom: 20px;
      margin-left: 20px;
      margin-top: 20px;*/
  	   border-radius: 4px;
       font-family: Georgia, Times, "Times New Roman", serif;
       font-size: 11px;
       font-style: italic;
       text-align:center;
       	border: 1px solid #bbb;
       /*position:relative;*/
      display: none;

    }

    .navigation.open {
      /*transform: translateY(0);*/
      display: block;
    }


    .navbox {
        background-color: #f2f2f2;
        width: 90%;
        height:30px;
        /*clear:both;*/
    }

    .container {
        width: 90%;
    }

		.one-half {
			width: 96%;
		}

		.one-third {
			width: 96%;
		}

		.two-thirds {
			width: 96%;
		}

    #wrapper {
        padding: 10px;
        margin-top: 0px;
    }
}
