<?xml version="1.0"?>
<config>
	<admin>1</admin>
	<stage>4</stage>
	<deadline>16.02.2017</deadline>
	<nwish>2</nwish>
	<assistent>Testmail@irgendwo.com</assistent>


<skill><sign>1</sign><name>Softwarekenntnisse</name></skill><skill><sign>3</sign><name>Programmierkentnisse</name></skill><skill><sign>2</sign><name>Softskills</name></skill><skill><sign>4</sign><name>Softwarekenntnisse</name></skill></config>
